<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <center><h1>Regester</h1></center>
    <form action="/register" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="name">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Regester</button>
    </form>
    <a href="/login">Login</a>
    
</body>
</html>